force-app/main/default/flows/Twilio_Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Twilio_Lookup</name>
        <label>Twilio Lookup</label>
        <locationX>426</locationX>
        <locationY>393</locationY>
        <actionName>TwilioLookupServices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Response_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>getCallerName</name>
            <value>
                <elementReference>Get_Caller_Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>getCarrier</name>
            <value>
                <elementReference>Get_Carrier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>countryCode</name>
            <value>
                <elementReference>Country_Code</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Screen_Values_to_Variables</name>
        <label>Assign Screen Values to Variables</label>
        <locationX>212</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>Country_Code</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Caller_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Include_Caller_Name_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_Number</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Number_Screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Carrier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Identity_Carrier_Screen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Twilio_Lookup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Response_Status</name>
        <label>Check Response Status</label>
        <locationX>632</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Twilio_Lookup.status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Result</targetReference>
            </connector>
            <label>OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Variable_Has_Values</name>
        <label>Variable Has Values</label>
        <locationX>734</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Introduction_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Phone_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Number</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Twilio_Lookup</targetReference>
            </connector>
            <label>Has Phone Number</label>
        </rules>
    </decisions>
    <interviewLabel>Twilio Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Twilio Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>768</locationX>
        <locationY>636</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;An error has occurred. Here is the error message:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Code: {!Twilio_Lookup.code}&lt;/p&gt;&lt;p&gt;Detail: {!Twilio_Lookup.detail}&lt;/p&gt;&lt;p&gt;Message: {!Twilio_Lookup.message}&lt;/p&gt;&lt;p&gt;More Info: {!Twilio_Lookup.more_info}&lt;/p&gt;&lt;p&gt;Status: {!Twilio_Lookup.status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Introduction_Screen</name>
        <label>Introduction Screen</label>
        <locationX>712</locationX>
        <locationY>262</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Screen_Values_to_Variables</targetReference>
        </connector>
        <fields>
            <name>Twilio_Lookup_Logo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Twilio_Lookup_Logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Introduction_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Lookup a Number&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Whitney SSm A&amp;quot;, &amp;quot;Whitney SSm B&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(34, 34, 34);&quot;&gt;Know the details behind every phone number. Identify local-friendly number formats, reduce undelivered messages, and protect from spam and fraud. Enter a number below to lookup its details.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Phone_Number_Screen</name>
            <dataType>String</dataType>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Identity_Carrier_Screen</name>
            <dataType>Boolean</dataType>
            <fieldText>Identity Carrier</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13.5px; font-family: &amp;quot;Whitney SSm A&amp;quot;, &amp;quot;Whitney SSm B&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(35, 54, 89);&quot;&gt;Carrier information costs $0.005 per phone number looked up.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Include_Caller_Name_Screen</name>
            <dataType>Boolean</dataType>
            <fieldText>Include Caller Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13.5px; font-family: &amp;quot;Whitney SSm A&amp;quot;, &amp;quot;Whitney SSm B&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(35, 54, 89);&quot;&gt;Caller Name information is currently available only in the US and costs $0.01 per phone number looked up.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Lookup_Result</name>
        <label>Lookup Result</label>
        <locationX>403</locationX>
        <locationY>642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;Phone Number: {!Twilio_Lookup.phone_number}&lt;/p&gt;&lt;p&gt;National Format: {!Twilio_Lookup.national_format}&lt;/p&gt;&lt;p&gt;Country Code: {!Twilio_Lookup.country_code}&lt;/p&gt;&lt;p&gt;Caller Name: {!Twilio_Lookup.caller_name.caller_name}&lt;/p&gt;&lt;p&gt;Caller Type: {!Twilio_Lookup.caller_name.caller_type}&lt;/p&gt;&lt;p&gt;Carrier Name: {!Twilio_Lookup.carrier.name}&lt;/p&gt;&lt;p&gt;Carrier Type: {!Twilio_Lookup.carrier.type}&lt;/p&gt;&lt;p&gt;Mobile Country Code: {!Twilio_Lookup.carrier.mobile_country_code}&lt;/p&gt;&lt;p&gt;Mobile Network Code: {!Twilio_Lookup.carrier.mobile_network_code}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>8</locationY>
        <connector>
            <targetReference>Variable_Has_Values</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Country_Code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Get_Caller_Name</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Get_Carrier</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Phone_Number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
